*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    height: 100%;
    scroll-behavior: smooth;
}
.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar{
    height: 80px;
    display: flex;
    padding: 0 50px;
    background-color: rgb(42, 165, 142);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}
.navbar a{
    text-decoration: none;
    color: black;
}
li:hover{
    color: chocolate;
}
.navbar .logo{
    font-size: 30px;
    font-weight: bold;
}
.nav-element ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 20px;
    font-weight: 550;
}
.cta-section{
    display: flex;
    align-items: center;
    gap: 30px;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px; 
}

button:hover{
    background-color: rgb(28, 27, 27);
    cursor: pointer;
}

.fa-instagram{
    font-size: 25px;
}
.fa-instagram:hover{
    color: chocolate;
    cursor: pointer;
}
/* Hero section */
.hero-section{
    display: flex;
    flex: 1;
    overflow: hidden;


}

/* Image Section */
.image-section{
    flex: 1;
    overflow: hidden;
}

.image-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
     object-position: bottom; 
}

.text-section{
    flex: 1;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    color: white;
}

.text-section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: 900px;
    margin-bottom: 30px;
}
.text-section h2{
    font-size: 32px;
    margin: 20px 0;
    font-weight: 600;
}

.text-section p {
    font-size: 18px;
    margin-bottom: 30px;
}